<h3><%=@role.name%></h3>
<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Assosciated users:</strong>
  <%= @assosciated_users %>
</p>

<%= link_to 'Edit', edit_role_path(@role) ,class:"btn btn-info"%> |
<%= link_to 'Back', roles_path ,class:"btn btn-info"%>
