<!DOCTYPE html>
<html>
  <head>
    <title>Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header/head'%>
    <div class="user">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Edit profile", edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
     <%end%> 
   </div>

   <div class="container">
   <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
          <%= value %>
    </div>
<% end %>

  <%= yield %>
</div>

  </body>
</html>
